<div class="card shadow p-3 mb-5 bg-white rounded card-top">
<h3 class="card-header">Forgot Password</h3>
<div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Email/UserName</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.username.errors }" />
            <div *ngIf="submitted && formControls.username.errors" class="invalid-feedback">
                <div *ngIf="formControls.username.errors.required">UserName is required</div>
                <div *ngIf="formControls.username.errors.serverError">{{formControls.username.errors.serverError}}</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Request For Reset
            </button>
            <a routerLink="account/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
</div>
